<div class="container-fluid">
    <div class="row ">
        <div class="text-center">
            <h1 class="mb-4 mt-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-dark">
                My Bookings
            </h1>

        </div>
    </div>

    <div class="row mt-2 me-2 ms-2 mb-2">
        <div class="  mt-2 d-flex justify-center flex items-center">

            <a href="#"
                class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="p-2 ms-2 me-2 mt-2 mb-2 border-white border-2   object-cover w-full  h-96 md:h-auto md:w-48 "
                    src="notification_background.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal ms-2 me-2">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Saloon Okrich </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        <button
                            class=" inline-flex items-center justify-center p-0.5 ms-1 mb-2 me-2 mt-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-500 to-red-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                            <span
                                class="relative px-2 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
                                CANCEL
                            </span>
                        </button>
                    </p>
                    <h3 class="text-white">Date & Time : </h3>
                    <div class="border-white border-1 p-2">
                        <h3 class="text-white">24<sup>th</sup> March 2025 </h3>
                    <h3 class="text-white">10.00 a.m. to 12.00 p.m. </h3>
                    </div>
                </div>
                <div class="flex flex-col justify-between p-4 leading-normal ms-2 me-2">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Services </h5>
                   
                        <ol class="text-white">
                          
                                <li>Hair Colouring</li>
                        
                      
                                <li>Hair Colouring</li>
                        
                          
                                <li>Hair Colouring</li>
                      
                        </ol>
                   
                </div>
            </a>

        </div>
        <div class="  mt-2 d-flex justify-center flex items-center">

            <a href="#"
                class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="p-2 ms-2 me-2 mt-2 mb-2 border-white border-2   object-cover w-full  h-96 md:h-auto md:w-48 "
                    src="notification_background.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal ms-2 me-2">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Saloon Okrich </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        <button
                            class=" inline-flex items-center justify-center p-0.5 ms-1 mb-2 me-2 mt-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-500 to-red-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                            <span
                                class="relative px-2 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
                                CANCEL
                            </span>
                        </button>
                    </p>
                    <h3 class="text-white">Date & Time : </h3>
                    <div class="border-white border-1 p-2">
                        <h3 class="text-white">24<sup>th</sup> March 2025 </h3>
                    <h3 class="text-white">10.00 a.m. to 12.00 p.m. </h3>
                    </div>
                </div>
                <div class="flex flex-col justify-between p-4 leading-normal ms-2 me-2">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Services </h5>
                   
                        <ol class="text-white">
                          
                                <li>Hair Colouring</li>
                        
                      
                                <li>Hair Colouring</li>
                        
                          
                                <li>Hair Colouring</li>
                      
                        </ol>
                   
                </div>
            </a>

        </div>
        <div class="  mt-2 d-flex justify-center flex items-center">

            <a href="#"
                class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="p-2 ms-2 me-2 mt-2 mb-2 border-white border-2   object-cover w-full  h-96 md:h-auto md:w-48 "
                    src="notification_background.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal ms-2 me-2">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Saloon Okrich </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        <button
                            class=" inline-flex items-center justify-center p-0.5 ms-1 mb-2 me-2 mt-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-500 to-red-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                            <span
                                class="relative px-2 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
                                CANCEL
                            </span>
                        </button>
                    </p>
                    <h3 class="text-white">Date & Time : </h3>
                    <div class="border-white border-1 p-2">
                        <h3 class="text-white">24<sup>th</sup> March 2025 </h3>
                    <h3 class="text-white">10.00 a.m. to 12.00 p.m. </h3>
                    </div>
                </div>
                <div class="flex flex-col justify-between p-4 leading-normal ms-2 me-2">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Services </h5>
                   
                        <ol class="text-white">
                          
                                <li>Hair Colouring</li>
                        
                      
                                <li>Hair Colouring</li>
                        
                          
                                <li>Hair Colouring</li>
                      
                        </ol>
                   
                </div>
            </a>

        </div>
    </div>

</div>